body
{
    font-size:14px;
    margin:0;
    padding:0;
    font-family:'Microsoft YaHei';
}

.topArea
{
    width:100%;
    border-bottom:1px solid lightgrey;
    margin-bottom:20px;
    height:35px;
    line-height:35px;
}

.topArea div
{
    width:1280px;
    margin:auto;
    font-size:12px;
    color:grey;
}

.headerArea
{
    max-width:1280px;
    width:1280px;
    margin:auto;
    position:relative;
}

.headerSearchText
{
    width:350px;
    height:35px;
    border:1px solid lightgrey;
    font-size:14px;
    padding-left:10px;
    outline:0px;
}

.headerSearchButton
{
    width:30px;
    height:30px;
    position:relative;
    top:10px;
}

.headerShoppingCartButton
{
    height:35px;
    width:100px;
    margin-left:20px;
    border:none;
    cursor:pointer;
}

.page-content
{
    width:1280px;
    margin:auto;
}

.index-nav
{
    margin-top:20px;
    height:40px;
    font-size:14px;
}

.index-nav-category 
{
    float:left;
    width:250px;
    background-color:#ff4a00;
    height:50px;
    line-height:50px;
    font-size:18px;
    color:white;
}

.index-nav-link
{
    float:right;
    background-color:black;
    width:1030px;
    height:50px;
    background-color:#404144;
    line-height:50px;
    font-size:18px;
    color:white;
}

.index-category
{
    float:left;
    width:250px;
}

.index-category-item
{
    border:1px solid lightgrey;
    border-top:none;
}

.index-category-item:hover
{
    border:1px solid lightgrey;
    border-top:none;
    border-left:3px solid #ff4a00;
}

.index-category-item-title
{
    font-size:14px;
    padding-left:15px;
    padding-top:15px;
    color:#ff4a00;
}

.index-category-item:hover .index-category-item-title
{
    padding-left:13px;
}

.index-category-item-subitem
{
    font-size:14px;
    padding-left:15px;
    padding-top:3px;
    padding-bottom:15px;
    color:grey;
}

.index-category-item:hover .index-category-item-subitem 
{
    padding-left: 13px;
}

.hot-items
{
    margin-top:20px;
    overflow:hidden;
}

.hot-items-title
{
    font-size:18px;
}

.hot-items-goods
{
    float:left;
    width:960px;
    
}

.hot-items-ranks
{
    float:right;
    width:320px;
    
}

.hot-items-area
{
    margin-top:20px;
}

.hot-items-ranks-good-number
{
    float:left;
    height:100px;
    width:70px;
}

.hot-items-ranks-good
{
    overflow:hidden;
    height:100px;
    line-height:100px;
    font-size:14px;
    border:1px solid lightgrey;
    border-top:none;
}

.hot-items-ranks-good-detail
{
    float:left;
    line-height:25px;
    padding-top:25px
}

.hot-items-ranks-good-img
{
    float:right;
    padding-right:10px;
}

.hot-items-ranks-good-number
{
    font-size:30px;
    color:#ff4a00;
    text-align:center;
}

.hot-items-goods-column-title
{
    margin-top:25px;
    margin-left:25px;
}

.hot-items-goods-column-img
{
    width:220px;
    margin:auto;
    padding-top:10px;
}

.hot-items-ranks-title
{
    font-size:20px;
    height:100px;
    line-height:100px;
    border:1px solid lightgrey;
    padding-left:20px;
}

.hot-items-goods-row
{
    height:302px;
}

.hot-items-goods-row2
{
    height:304px;
}

.hot-items-goods-column
{
    float:left;
    width:319px;
    height:302px;
    border-top:1px solid lightgrey;
    border-left:1px solid lightgrey;
}

.special-items
{
    margin-top:20px;
    overflow:hidden;
}

.special-items-title
{
    font-size:18px;
}

.special-items-goods
{
    margin-top:20px;
}

.breadcrumb
{
    margin-top:30px;
    margin-bottom:30px;
    color: grey;
}

.special-items-goods-column
{
    float:left;
    width:319px;
    height:302px;
    border-top:1px solid lightgrey;
    border-left:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}

hr
{
    border:1px solid lightgrey;
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:none;
}

.index-info
{
    margin-top:40px;
    margin-bottom:20px;
    overflow:hidden;
}

.index-info-column-title
{
    font-size:18px;
}

.index-info-column
{
    width:200px;
    float:left;
    border-right:1px solid lightgrey;
    margin-right:30px;
}

.index-info-column ul
{
    list-style:none;
    padding:0;
}

.index-info-column ul li
{
    color:grey;
    height:30px;
    line-height:30px;
}

.footer
{
    text-align:center;
    height:50px;
    line-height:50px;
}

.index-info-tele
{
    text-align:center;
}

.result-title
{
    font-size:20px;
    margin-top:20px;
    margin-bottom:20px;
}

.search-category
{
    color:Grey;
}

.search-category span
{
    color:grey;
    margin-right:20px;
    margin-left:20px;
}

.search-sort-method
{
    margin-top:30px;
}

.search-sort-method span
{
    color:grey;
    margin-right:20px;
    margin-left:20px;
}

.search-result-column
{
    float:left;
    width:320px;
}

.search-result-area
{
    margin-top:30px;
}

.search-result-item-img
{
    width:220px;
    margin:auto;
}

.search-result-item-content
{
    margin-left:20px;
    margin-right:20px;
    border-bottom:1px solid lightgrey;
    padding-bottom:25px;
}

.search-result-row
{
    overflow:hidden;
}

.product-img
{
    float:left;
    width:60%;
}

.product-img img
{
    width:100%;
}

.product-content
{
    width:1280px;
    overflow:hidden;
    margin-top:30px;
}

.product-detail
{
    float:right;
    width:40%;
}

.product-detail div
{
    padding-left:30px
}

.product-title
{
    font-size:18px;
}

.product-parameters
{
    font-size:14px;
    color:grey;
    margin-top:30px;
    line-height:30px;
}

.product-price
{
    color:#ff4a00;
    margin-top:30px;
    font-size:22px;
}

.product-buy-button
{
    height:40px;
    width:150px;
    color:white;
    font-size:15px;
    border:none;
    background-color:grey;
    cursor:pointer;
    outline:none;
    margin-top:30px;
}